.react-hierarchy {
  background-color: aqua;

  .hierarchy-title {
    margin-bottom: 16px;
  }

  .layer-content {
    background-color: beige;
    height: 300px;
  }

  .header-layer {
    background-color: blueviolet;
  }

  .layer-a {
    background-color: brown;
  }

  .layer-b {
    background-color: blue;
  }

  .layer-c {
    background-color: green;
  }
}
