.react-hierarchy {
  .hierarchy-title {
    margin-bottom: 16px;
  }

  .header-layer {
    background-color: #ffffff;
  }

  .layer-a {
    position: relative;
    z-index: 10;
  }

  .layer-b {
    position: relative;
    z-index: 10;
  }

  .layer-c {
    position: relative;
    z-index: 10;
  }

  .layer-content {
    height: 300px;
    position: relative;
    z-index: 10;

    .layer-content-main {
      position: relative;
      z-index: 10;
    }
  }
}
