.graph-card {
  display: flex;
  justify-content: center;
  position: relative;

  .card-content-wrapper {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.14) !important;
  }

  /* .fui-Avatar__initials {
    background-color: #0f6cbd;
    color: #fff;
  }

  .graph-card-main {
    height: 100%;
    height: 112px;
    padding: 12px;
    position: relative;

    .inner-content {
      height: 100%;

      .value {
        background-color: #f5f5f5;
        border-radius: 4px;
        margin-bottom: 12px;
        padding: 8px 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .card-space {
      .graph-badge {
        position: relative;
        z-index: 1000;
      }
    }
  } */
}
